{% extends "::base.html.twig" %}

{% block title %}WCSTvShowManagerBundle:TvShow{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% for tvShow in tvShow %}
                <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="col-md-4 type"> {{ tvShow.type }}</div>
                            <div class="col-md-2 col-md-offset-5 year">{{ tvShow.year }}</div>
                            <div class="col-md-12 panelTop">
                                <img class="img-responsive" src="{{ tvShow.url }}"/>
                            </div>
                            <div class="col-md-12 title"><a href="{{ path('show', {'id':tvShow.id}) }}">{{ tvShow.name }}</a></div>
                            <a href="{{ path('show', {'id':tvShow.id}) }}"><button type="button" class="btn btn-grey navbar-right">Episodes</button></a>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
