{% extends "::base.html.twig" %}

{% block title %}WCSTvShowManagerBundle:TvShow:show{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-md-4 type"> {{ tvShow.type }}</div>
                            <div class="col-md-2 col-md-offset-5 year">{{ tvShow.year }}</div>
                                <div class="col-md-12 panelTop">
                                    <img class="img-responsive" src="{{ tvShow.url }}"/>
                                </div>
                            <div class="col-md-7 title episode">Episodes de {{ tvShow.name }}</div>
                        <a href="{{ path('addEpisode', {'tvShow_id':tvShow.id}) }}"><button class="col-md-4 btn btn-grey navbar-right">Ajouter un épisode</button></a>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Season</th>
                                            <th>Number</th>
                                            <th>Note</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                    </thead>
                                {% for episode in tvShow.episodes %}
                                    <tr>
                                        <td>{{ episode.name }}</td>
                                        <td>{{ episode.season  }}</td>
                                        <td>{{ episode.number  }}</td>
                                        <td>{{ episode.note  }}</td>
                                        <td><a href="{{ path('modifyEpisode', {'id':episode.id}) }}"><center><i class="fa fa-wrench" aria-hidden="true"></i></center></a></td>
                                        <td><a href="{{ path('deleteEpisode', {'id':episode.id}) }}"><center><i class="fa fa-trash" aria-hidden="true"></i></center></a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            <a href="{{ path('wcs_tv_show_manager_index') }}"><button type="button" class="btn btn-grey navbar-right">Ok</button></a>
                        <a href="{{ path('delete', {'id':tvShow.id}) }}"><button type="button" class="btn btn-grey navbar-right">Supprimer</button></a>
                        <a href="{{ path('modify', {'id':tvShow.id}) }}"><button type="button" class="btn btn-grey navbar-right">Modifier</button></a>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}